<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do app page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
<body>
     <div class="container">
        <div class="outer-box">
            <div class="box">
                {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                <div class="title">
                    <h1>To Do App</h1>
                </div>
                <div class="input-task">
                    <form method="POST">
                    {% csrf_token %}
                        <input type="text" placeholder="Enter a task here" name="todo_item">
                        <input type="date" placeholder="dd-mm-yyyy" name="date">
                       <button type="submit"  value="submit" class="btn">SAVE</button>
                    </form>
                </div>
                <div class="input-task">
                    <form action="{% url 'search_item' %}" method="get">
                    {% csrf_token %}
                        <input type="text" placeholder="search....." name="search">
                       <button type="submit"  value="submit" class="btn">Search</button>
                    </form>
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th style="width: 5%;">No</th>
                            <th style="width: 20%;">Task</th>
                            <th style="width: 20%;">Status</th>
                            <th style="width: 15%;">Due</th>
                            <th style="width: 40%;">Actions</th>
                        </tr>
                        
                            {% block  displaydata %}

                            {% endblock displaydata %}
                
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>